/* Reset some default browser styles */
body, h1, h2, p, img {
    margin: 0;
    padding: 0;
}

body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
} */

/* h1 {
    color: #333;
} */

.section {
    padding: 40px;
    text-align: center;
    font-size: 70px;
    
}

.section > h2 {
    color:sienna;
    margin-bottom: 10px;
    font-size: 70px;
    text-align: center;
}

.section > p {
    color:black;
    font-size: 30px;
    /* line-height: 1.6; */
}

 img {
    width: 80%;
    height: auto;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    align-items: center;
}

footer {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
}

/* Additional styling can be added as needed */

header {
    background-color:black;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font-size: larger;
}

.logo .brand {
    color:#fff;
    text-decoration:none;
    font-size: 1.5em;
    font-weight: bold;
    height: 55px;
    width: 180px;
  }

.navigation-items {
    list-style: none;
    display: flex;
    
}

.navigation-items li {
    margin-right: 20px;
    
}

.navigation-items a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.navigation-items a:hover {
    color: #ec154e;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    
}

.bar {
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 3px 0;
}