@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
 
}

::selection {
  color: #fff;
  background: #1ca039;
}

body {
  padding: 10px;
  /* background-color:rgb(144, 144, 222); */
  /* background:linear-gradient(to left, #4A5846, #687664, #838F77, #97A391, #B9C3B4 , #ECF1E6); */
  background-color:whitesmoke;
}

header {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo .brand img {
  color: #fff;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: bold;
  height: 55px;
  width: 180px;
}

.navigation-items {
  list-style: none;
  display: flex;
  
}

.navigation-items li {
  margin-right: 20px;
  
}
  
.navigation-items a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.navigation-items a:hover {
  color: #ec154e;
}

.wrapper {
  margin: 100px auto;
  max-width: 1100px;
}

.wrapper nav {
  display: flex;
  justify-content:left;
}

.wrapper .items {
  display: flex;
  max-width: 110px;
  width: 100%;
  justify-content: space-between;
  padding: 0 20px;
  margin: 0 auto;
  cursor: pointer;
}

.items span {
  padding: 9px 13px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  /* color: #00ff6e; */
  border-radius: 30px;
  border: 2px solid #007bff;
  transition: all 0.3s ease;
}

.items ul{
  display: grid;
    grid-template-columns: repeat(6, 1fr); /* Six equal-width columns */
    grid-gap: 28px; /* Gap between grid cells */
    /* padding: 10px; */
    margin-right: 45px;
    margin-left: -534px;
    /* text-align: center; */
}

.items-list li{
  /* background-color: #f0f0f0; */
    padding: 10px;
    white-space: nowrap;
    /* border: 1px solid #ccc; */
    text-align: center;
    list-style: none;
    color:darkcyan;
    font: size 90px;;
}

.items span.active,
.items span:hover {
  font-size: 1.1em;
  /* Increase font size on hover */
  color: #ec154e;
  /* Change color on hover */
  text-decoration: underline;
  font-size: 1.6rem;
  transition: 3 ease;
  font-weight: bolder;
}

.items a{
  font-size: 22px;
  /* padding-left: 22px; */
  /* padding: 12px; */
  padding: 10px 20px;
}

.items a.item:hover,
.items a.item.active {
  color: #c61a1a;
  /* Text color when hovering or active */
  /* background: #007bff; Background color when hovering or active */
  transform: scale(1.1);
  /* Scale up the element when hovering or active */
  transition: color 0.3s ease, transform 0.3s ease;
  font-weight: bolder;
}


.gallery {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  border: #333;
}

.gallery .image {
  width: calc(100% / 4);
  padding: 7px;
  ;
  
  
}

.gallery .image span {
  display: flex;
  width: 100%;
  overflow: hidden;
}

.gallery .image img {
  width: 100%;
  vertical-align: middle;
  transition: all 0.3s ease;
}

.gallery .image:hover img {
  transform: scale(1.1);
}

.gallery .image.hide {
  display: none;
}

.gallery .image.show {
  animation: animate 0.4s ease;
}

@keyframes animate {
  0% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}

.preview-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  background: #fff;
  max-width: 700px;
  width: 100%;
  z-index: 5;
  opacity: 0;
  pointer-events: none;
  border-radius: 3px;
  padding: 0 5px 5px 5px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.preview-box.show {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
  transition: all 0.3s ease;
}

.preview-box .details {
  padding: 13px 15px 13px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.details .title {
  display: flex;
  font-size: 18px;
  font-weight: 400;
}

.details .title p {
  font-weight: 500;
  margin-left: 5px;
}

.details .icon {
  color: #007bff;
  font-style: 22px;
  cursor: pointer;
}

.preview-box .image-box {
  width: 100%;
  display: flex;
}

.image-box img {
  width: 100%;
  border-radius: 0 0 3px 3px;
}

.shadow {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  display: none;
  background: rgba(0, 0, 0, 0.4);
}

.shadow.show {
  display: block;
}

@media (max-width: 1000px) {
  .gallery .image {
    width: calc(100% / 3);
  }
}

@media (max-width: 800px) {
  .gallery .image {
    width: calc(100% / 2);
  }
}

@media (max-width: 700px) {
  .wrapper nav .items {
    max-width: 600px;
  }

  nav .items span {
    padding: 7px 15px;
  }
}

@media (max-width: 600px) {
  .wrapper {
    margin: 30px auto;
  }

  .wrapper nav .items {
    flex-wrap: wrap;
    justify-content: center;
  }

  nav .items span {
    margin: 5px;
  }

  .gallery .image {
    width: 100%;
  }
}





















