@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: cornsilk;
}

.banner {
    text-align: center;
    padding: 0;
    background-color: #f0f0f0;
}

.logo img{
    width: auto;
    height: 50px;
  }

.banner img {
    width: auto;
    height: 600px;
    object-fit: none;   
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    font-family: 'Orbitron', sans-serif;
    font-size: 24px;
    font-weight: bolder;
}

.grid-item {
    text-align: center;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
}

.grid-item img {
    max-width: 100%;
    height: auto;
    transition: 1s ease;
}
.grid-item img:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 1s ease;
    }
.grid-item p {
    margin-top: 10px;
    color: #444;
}

header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo .brand {
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
}

.navigation-items {
    list-style: none;
    display: flex;
    
}

.navigation-items li {
    margin-right: 20px;
    
}

.navigation-items a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.navigation-items a:hover {
    color: #ec154e;
}
